application/config/development/*.php
!application/config/development/.gitkeep

application/config/testing/*.php
!application/config/testing/.gitkeep

application/config/production/*.php
!application/config/production/.gitkeep

application/logs/*
!application/logs/*.log
!application/logs/.gitkeep

vendor/*
!/vendor/.gitkeep

uploads/*
!/uploads/.gitkeep

